<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om</title>
    
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <main>
    <h1>Om uppgiften</h1>  
    <p>Webbplatsen är skapad med Express, EJS, Nodemon och MySql. Syftet med den är att användaren ska kunna registrera kurser hen läst, som ett CV. Det är också möjligt att radera och uppdatera information om kurser. </p>
    <p>Jag började med att använda MySql tillsammans med XAMPP och phpMyAdmin. XAMPP fungerade väl till en början, men började strula efter ett tag. Efter en hel del felsökande och endast korta stunder av fungerande program bestämde jag mig för att byta till Sqlite3, vilket fungerade utan problem.</p>
    <p>Att skriva kod i "Backend", tillsammans med  användning av server och databas och flertalet nya plugins var inte så svårt som jag trodde. Förutsättningen för den slutsatsen bygger dock på att jag tagit del av allt inspelat material och använt mig av det när jag själv kodat. Trots att det är fler instanser att hålla reda på, är det hela logiskt om man bara följer instruktionerna steg för steg.</p>
    <p id="add-course-link"> <a href="/">Tillbaka till kurslistan</a></p> 
    </main>
    </div>
    
</body>
</html>