<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L채gg till kurs</title>
    
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <main>
    <h1>L채gg till kurs</h1>

    <form method="post" action="/addcourse">
       <% if(error !== "" ) { %>
        <p class="error">
            <%= error %>
        </p>
    <%}%>
   
     
        <label for="coursecode">Kurskod:</label>
        <br>
        <input type="text" id="coursecode" name="coursecode">
        <br>
        <label for="coursename">Kursnamn:</label>
        <br>
        <input type="text" id="coursename" name="coursename">
        <br>
        <label for="coursesyllabus">Kursplan:</label>
        <br>
        <input type="text" id="coursesyllabus" name="coursesyllabus">
        <br>
        <label for="courseprogression">Kursniv책:</label>
        <br>
        <input type="text" id="courseprogression" name="courseprogression">
        <br>       
        <input type="submit" value="L채gg till">       
    </form>

    <p id="add-course-link"> <a href="/list">Tillbaka till kurslistan</a></p> 
    
    </main>
    </div>  
    
</body>
</html>