<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurslista</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container" id="course-list-container">
        <main>
    <h1>Kurslista</h1>   
    <p id="add-course-link"> <a href="/list">Se kurser</a></p> 
    <p id="add-course-link"> <a href="/addcourse">Lägg till ny kurs</a></p> 
    <p id="add-course-link"> <a href="/about">Om uppgiften</a></p>    

              
                
</main>
</div>
</body>
</html>